.container {
    margin-top: 20vh;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* width: 120px; */
}

#button1:hover {
    background-color: #cac9b5;
}
#button4:hover {
    background-color: #cac9b5;
}

#button2:hover {
    background-color: #fc1212;
}
#button3:hover {
    background-color: #57f479;}
#bttn{
    display: flex;
    justify-content: space-between;
    /* margin-left: auto; */
}

#button1{
    width: 320px;
}
#button4{
    width: 260px;
}
#button3{
    width: 100%;
    margin-top: 5px;
}